<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/inforural</property>
    <property name="hibernate.connection.username">root</property>
    
    <mapping class="br.com.dimb.inforural.business.Animal" />
    <mapping class="br.com.dimb.inforural.business.AnimalTemVacina" />
    <mapping class="br.com.dimb.inforural.business.AnimalTemVacinaPK" />
    <mapping class="br.com.dimb.inforural.business.Cor" />
    <mapping class="br.com.dimb.inforural.business.Foto" />
    <mapping class="br.com.dimb.inforural.business.Genero" />
    <mapping class="br.com.dimb.inforural.business.Permissao" />
    <mapping class="br.com.dimb.inforural.business.TipoAnimal" />
    <mapping class="br.com.dimb.inforural.business.Usuario" />
    <mapping class="br.com.dimb.inforural.business.Vacina" />
  </session-factory>
</hibernate-configuration>